<div class="navbar">
    <h2>EXPENSE</h2>
</div>

<div class="main-container">
    <div class="container">
        <h2>Expense</h2>
        <form [formGroup]="expenseForm" (ngSubmit)="onSubmitExpense()" class="input-form">
            <div class="form-row-two">
                <div class="form-group">
                    <select formControlName="month" id="month" class="form-control" (change)="onChangeExpense($event)">
                        <option value="" disabled>Select Month</option>
                        <option *ngFor="let month of monthKeys()" [value]="month">{{ month }}</option>
                    </select>
                </div>
                <div class="total-income form-group">
                    {{ selectedMonth ? "Total Expense for " + selectedMonth + ": $" + calculateTotalExpense(selectedMonth) : "No month selected" }}
                </div>
            </div>
            <div class="form-row-three">
                <div class="form-group-three">
                    <label for="expensetype">Expense Type:</label>
                    <select formControlName="expenseType" id="expensetype" class="form-control" [class.disable-dropdown]="!monthSelected">
                        <option value="" disabled>Select Expense Type</option>
                        <option value="Rent">Rent</option>
                        <option value="Groceries">Groceries</option>
                        <option value="Utilities">Utilities</option>
                    </select>
                </div>
                <div class="form-group-three">
                    <label for="expenseAmount">Amount:</label>
                    <input type="number" formControlName="expenseAmount" id="expenseAmount" class="form-control" placeholder="Enter amount" [class.disable-dropdown]="!monthSelected">
                </div>
                <button type="submit" class="btn-primary form-group-three" [class.disable-dropdown]="!monthSelected">
                    Add Expense
                </button>
            </div>
        </form>

        <hr>
        <div>
            <ng-container *ngIf="selectedMonth; then didSelectMonth else noSelectMonth"></ng-container>
            <ng-template #didSelectMonth>
                <h3>Expense List - {{ selectedMonth }}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Expense Type</th>
                            <th>Amount</th>
                            <th>Actions</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expense of getFilteredExpenses(); let i = index">
                            <td>{{ expense.expenseType }}</td>
                            <td>{{ expense.expenseAmount }}</td>
                            <td>
                                <mat-icon  (click)="deleteExpense(i)" class="delete-icon">delete</mat-icon>
                            </td> 
                        </tr>
                    </tbody>
                </table>
            </ng-template>
            <ng-template #noSelectMonth>
                <h3>No month selected</h3>
            </ng-template>
        </div>
        <div class="input-form form-row-two">
            <button class="btn btn-primary form-group" (click)="onBack()">Back</button>

            <button class="btn btn-primary form-group" (click)="saveForm()" [class.disable-dropdown]="!monthSelected">Save</button>
        </div>
    </div>
</div>
