<div class="navbar">
  <h2>
      INCOME
  </h2>
</div>

<div class="main-container">
  <div class="container">
      <h2>Income</h2>
      <form [formGroup]="incomeform" (ngSubmit)="onSubmit()" class="input-form">
          <div class="form-row-two">
              <div class="form-group">
                  <select formControlName="month" id="month" class="form-control" (change)="onChange($event)">
                      <option value="" disabled>Select Month</option>
                      <option *ngFor="let month of monthKeys()" [value]="month">{{ month }}</option>
                  </select>
              </div>
              <div class="total-income form-group">
                  {{ selectedMonth ? "Total Income for " + selectedMonth + ": $" + calculateTotalIncome(selectedMonth) : "No month has been selected" }}
              </div>
          </div>
          <div class="form-row-four">
              <div class="form-group-four">
                  <label for="investments">Investments:</label>
                  <select formControlName="investments" id="investments" class="form-control"
                      [class.disable-dropdown]="!monthSelected">
                      <option value="" disabled>Select Investments</option>
                      <option value="401(k)">401(k)</option>
                      <option value="Stocks">Stocks</option>
                      <option value="Real Estate">Real Estate</option>
                  </select>
              </div>
              <div class="form-group-four">
                  <label for="source">Source of Income:</label>
                  <select formControlName="source" id="source" class="form-control"
                      [class.disable-dropdown]="!monthSelected">
                      <option value="" disabled>Select source</option>
                      <option value="Salary">Salary</option>
                      <option value="Freelancing">Freelancing</option>
                      <option value="Rental Income">Rental Income</option>
                  </select>
              </div>
              <div class="form-group-four">
                  <label for="amount">Amount:</label>
                  <input type="number" formControlName="amount" id="amount" class="form-control"
                      placeholder="Enter amount" [class.disable-dropdown]="!monthSelected">
              </div>
              <button type="submit" class="btn-primary form-group-four" (click)="onSubmit()"
                  [class.disable-dropdown]="!monthSelected">Add</button>
          </div>
      </form>

      <hr>
      <ng-container
      *ngIf="selectedMonth; then didSelectMonth else noSelectMonth">
      </ng-container>
      <ng-template #didSelectMonth>
        <h3>Income List - {{ selectedMonth }}</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Source of Income</th>
              <th>Amount</th>
              <th>Investments</th>
              <th>Actions</th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let income of getFilteredIncomes(); let i = index">
              <td>{{ income.source }}</td>
              <td>{{ income.amount }}</td>
              <td>{{ income.investments }}</td>
              <td>
                  <mat-icon  (click)="deleteIncome(i)" class="delete-icon">delete</mat-icon>
              </td> <!-- Delete button in each row -->
            </tr>
          </tbody>
        </table>
      </ng-template>
      <ng-template #noSelectMonth>
          <h3>No month has been selected</h3>
      </ng-template>
      <div class="input-form form-row-two">
          <button class="btn btn-primary form-group" (click)="onBack()">Back</button>
          <button class="btn btn-primary form-group" (click)="saveForm()"
              [class.disable-dropdown]="!monthSelected">Save</button>
      </div>
  </div>
</div>
